SPRING_APPLICATION_JSON='{
      "spring.jpa.hibernate.ddl-auto": "update",
      "spring.jpa.properties.hibernate.dialect": "org.hibernate.dialect.MariaDB103Dialect",
      "spring.datasource.driver-class-name":"org.mariadb.jdbc.Driver",
      "discord.key": "your-discord-key-here",
      "help.channelid": "1025486965103140906",
      "guild.id": "588096293620941023",
      "role.channelid": "715770747607580672",
      "leaderboard.channelid": "661927592508522498",
      "logging.channel": "661927592508522498",
      "modmail.channel": "661927592508522498",
      "ban.appeal.invite": "https://banned.learn-java.org"
    }'